[run]
source = app/  # Укажите папку с кодом
omit =
    */migrations/*
    */tests/*
    */admin.py
    */apps.py
    config/settings.py

[report]
show_missing = true  # Показывать непокрытые строки
exclude_lines =
    pragma: no cover
    def __str__
    raise NotImplementedError